/*@import "bourbon";*/
html, body {
  /*font-family: sans-serif;*/
  /*-ms-text-size-adjust: 100%;*/
  /*-webkit-text-size-adjust: 100%;*/
  font-family: DINNext, sans-serif !important;
  font-style: normal;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
nav{
  z-index: 999;
  position: relative;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  /*font-family: georgia, serif;*/
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  /*-moz-font-feature-settings: "kern", "liga", "clig", "calt";*/
  /*-ms-font-feature-settings: "kern", "liga", "clig", "calt";*/
  /*-webkit-font-feature-settings: "kern", "liga", "clig", "calt";*/
  /*font-feature-settings: "kern", "liga", "clig", "calt";*/
}
/*img {*/
  /*max-width: 100%;*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
/*}*/
/*h1 {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
  /*color: inherit;*/
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-weight: bold;*/
  /*text-rendering: optimizeLegibility;*/
  /*font-size: 2.25rem;*/
  /*line-height: 1.1;*/
/*}*/
/*h2 {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
  /*color: inherit;*/
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-weight: bold;*/
  /*text-rendering: optimizeLegibility;*/
  /*font-size: 1.62671rem;*/
  /*line-height: 1.1;*/
/*}*/
/*h3 {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
  /*color: inherit;*/
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-weight: bold;*/
  /*text-rendering: optimizeLegibility;*/
  /*font-size: 1.38316rem;*/
  /*line-height: 1.1;*/
/*}*/
/*h4 {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
  /*color: inherit;*/
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-weight: bold;*/
  /*text-rendering: optimizeLegibility;*/
  /*font-size: 1rem;*/
  /*line-height: 1.1;*/
/*}*/
/*h5 {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
  /*color: inherit;*/
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-weight: bold;*/
  /*text-rendering: optimizeLegibility;*/
  /*font-size: 0.85028rem;*/
  /*line-height: 1.1;*/
/*}*/
/*h6 {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
  /*color: inherit;*/
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  /*font-weight: bold;*/
  /*text-rendering: optimizeLegibility;*/
  /*font-size: 0.78405rem;*/
  /*line-height: 1.1;*/
/*}*/
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
/*p {*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  /*margin-top: 0;*/
  /*padding-bottom: 0;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*padding-top: 0;*/
  /*margin-bottom: 1.45rem;*/
/*}*/
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

iframe{
  border:none;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

nav .brand-logo {
  font-size:32px !important;
  line-height: 66px;
}

nav ul a:hover {
  background-color: transparent !important;
  color: #8C97C7 !important;
  transition: color .3s;
}

nav ul a .fa:hover {
  color: #8C97C7 !important;
  transition: color .3s;
}

/*======= BUTTONS =======*/
.btn, .btn-large{
  border-radius: 3px;
  padding: 0 1rem !important;
  text-transform: uppercase;
}
.cta-org{
  background-image: linear-gradient(to top, #f16023, #f79039)!important;
  border: 1px solid #ffffff !important;
}

.cta-soundcloud{
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  display: inline-block;
  /*position: relative;*/
  height: 35px;
  line-height: 14px;
  margin: 0;
  padding: 4px 4px;
  /*border: 1px solid #e5e5e5;*/
  border-radius: 3px;
  /*background-color: #fff;*/
  cursor: pointer;
  /*color: #333;*/
  font-size: 12px;
  /*line-height: 20px;*/
  /*white-space: nowrap;*/
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: left;
  /*vertical-align: baseline;*/
  /*-webkit-user-select: none;*/
  /*-moz-user-select: none;*/
  /*-ms-user-select: none;*/
  /*box-sizing: border-box;*/
}
.img-reverse{
  width: 100%;
  height: auto;
}
.p0{
  padding:0!important;
}

.pb-8{
  padding-bottom: 8px;
}

.p-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p-20-all {
  padding: 20px;
}

.p-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.m0 {
  margin: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}
/*---BG COLORS---*/
.brand-blue {
  background-color: #00bff5 !important;
}

.brand-blue-2 {
  background-color: #00abdb;
}

.brand-blue-3 {
  background-color: #008db5;
}

.brand-blue-4 {
  background-color: #005c75;
}

.azure {
  background-color: #16b1f2;
}

.brand-orange-1 {
  background-color: #ffa81d;
}

.brand-orange-2 {
  background-color: #f89039;
}

.brand-grey-1 {
  background-color: #e0e2e3;
}

.brand-grey-2 {
  background-color: #c4c9cb;
}

.brand-grey-3 {
  background-color: #a5acaf;
}

/*---TEXT COLORS---*/
/*GREY TEXT*/
.grey-text-1 {
  color: #e0e2e3;
}

.grey-text-2 {
  color: #c4c9cb;
}

.grey-text-3 {
  color: #a5acaf;
}

.grey-text-4 {
  color: #6b7072 !important;
}

.grey-text-5 {
  color: #3a3c3d;
}

.grey-text-6 {
  color: #4a4d4e;
}
/*BLUE TEXT*/
.turquoise-text{
  color: #44A7AE;
}

.turquoise-text-1{
  color: #8ACEC7 !important;
}

.azure-text {
  color: #16b1f2;
}

.brand-text {
  color: #00bff5 !important;
}

.brand-text-2 {
  color: #00abdb;
}

.brand-text-3 {
  color: #008db5;
}

.brand-text-4 {
  color: #005c75;
}

.brand-orange-text {
  color: #f16023;
}

.orange-text-1 {
  color: #ffa81d;
}

.orange-text-2 {
  color: #f89039;
}

.orange-text-3 {
  color: #f16023;
}

.orange-text-4 {
  color: #9e3622;
}

.orange-text-5 {
  color: #511c0e;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.bold-text {
  font-weight: bold !important;
}

.text-uppercase{
  text-transform: uppercase !important;
}

.justify-text{
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: DINNext, sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 0 !important;
  margin-bottom: .5em !important;
}

p{
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.f-12 {
  font-size: 12px;
  /*line-height: 13px;*/
}

.f-14 {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.8px;
}

.f-16 {
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 1px;
}

.f-18 {
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 1px;
}

.f-21 {
  font-size: 21px;
  line-height: 1.05;
  letter-spacing: 1px;
}

.f-22 {
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 1px;
}

.f-21 {
  font-size: 21px;
  line-height: 22px;
  letter-spacing: 1px;
}

.f-24 {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 1.1px;
}

.f-32 {
  font-size: 32px;
  line-height: 33px;
  letter-spacing: 1.5px;
}

.f-38 {
  font-size: 38px;
  line-height: 39px;
  font-weight: bold;
  letter-spacing: 1.7px;
}

.orange-border{
  border: 1px solid #ffa81d;
}

.grey-border-tb{
  border-top: 1px solid #3a3c3d;
  border-bottom: 1px solid #3a3c3d;
}

.relative{
  position: relative;
  margin: auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 1;
}

.absolute{
  position: absolute;
  margin: auto;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 2;
}

.absolute-icon{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  top:25%;
  bottom:35%;
  right:20%;
  left:20%;
  z-index: 2;
}

.flex-container {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  /*padding-top: 40px;*/
  /*padding-bottom: 60px;*/
  text-align: center;
}

.flex-container-list{
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  width:100%;
}

.flex-col-100 {
  flex: 0 1 100%;
}

.flex-col-30 {
  flex: 0 1 30% !important;
  /* padding: 2%*/

}

.flex-col-70 {
  flex: 0 1 68% !important;
  padding: 20px .5% 20px 0;
  margin-right: .5%;
  /*min-height:202px;*/
}

.flex-col-50 {
  flex: 0 1 50% !important;
}

.flex-col-60 {
  flex: 0 1 60% !important;
}

.flex-col-40 {
  flex: 0 1 40% !important;
}

.flex-col-5{
  flex: 0 1 5%;
}
.flex-col-95{
  flex: 0 1 95%;
}

.section{
  background-size:cover;
  height:auto;
  background-repeat:no-repeat;
  background-position: top center;
  padding:0;
}

.section-1 {
  background-image: url("https://fownders.s3.us-east-2.amazonaws.com/BG-1.jpg");
}

.section-2{
  background-image:url("https://fownders.s3.us-east-2.amazonaws.com/BG-11.jpg");
}

.section-4{
  background-image:url("https://cdn2.hubspot.net/hubfs/3357911/sales-page-bg/H5.png");
}

.section-5{
  background-image:url("https://cdn2.hubspot.net/hubfs/3357911/sales-page-bg/H6.png");
}

.section-6{
  background-image:url("https://fownders.s3.us-east-2.amazonaws.com/BG-6.jpg");
}

.section-8{
  background-image: url("https://fownders.s3.us-east-2.amazonaws.com/BG-8.jpg");
}

.section-10{
  background-image: url("https://fownders.s3.us-east-2.amazonaws.com/BG-10.jpg");
}

.section-11{
  background-image: url("https://fownders.s3.us-east-2.amazonaws.com/BG-11.jpg");
}

.img-bg-1{
  background-image: url("http://www.fownders.co/hubfs/maketing-mastermind-bg.png");
}

.payment-box{
  background-color: rgba(250, 250, 250, .1);
}

.wistia_responsive_wrapper{
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wistia_responsive_padding{
  padding: 56.0% 0 0 0;
  position: relative;
}

@media (max-width: 480px) {
  .p-20 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
  }

  .p-40 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }

  .margin-top{
    padding-top:180% !important;
  }

  .background {
    max-height: none !important;
    height: 109vh !important;
  }

  .mobile-center{
    text-align:center !important;
  }
}

/*.trigger {*/
/*input[type="checkbox"] {*/

.trigger, input[type="checkbox"], span {
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s linear 0.33s, opacity 0.33s linear;
   }

/*// Show if checkbox is clicked*/
.trigger, input[type="checkbox"], span:hover {
     visibility: visible;
     opacity: 1;
     transition-delay: 0s;
   }

/*// Simple styling for message.*/
   .msg {
     display: block;
     margin-top: 8px;
     padding: 8px 12px;

     border: 1px solid #ddd;
     border-radius: 3px;
   }

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: auto;
  max-height: 80%;
}

.clearfix{
  /*height: auto;*/
  /*margin-top: 75vh;*/
}

.clearfix:after {
  clear:both;
  display:block;
  content: "";
  margin-bottom: 40px;
}

.pfp-bg{
  background-image: url("https://fownders.s3.us-east-2.amazonaws.com/BG%20-%20PMP.jpg");
}

.margin-top{
  padding-top:52%;
}

.blue-purple {
  background-color: #1D2B64;
  /*background-image: url("http://www.fownders.co/hubfs/maketing-mastermind-bg.png" 59D8CD);*/
  background-image: -webkit-linear-gradient(top, rgba(29,43,100,.7), rgba(248,205,218,.7)), url("https://fownders.s3.us-east-2.amazonaws.com/pmp-banner.jpg");
  background-image: linear-gradient(to bottom,rgba(29,43,100,.7), rgba(248,205,218,.7)), url("https://fownders.s3.us-east-2.amazonaws.com/pmp-banner.jpg");
  -webkit-animation: fadeInOut 15s ease;
  -moz-animation: fadeInOut 15s ease;
  animation: fadeInOut 15s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.green-blue {
  background-color: #43cea2;
  /*background-image: -webkit-linear-gradient(left, #43cea2, #185a9d);*/
  /*background-image: linear-gradient(to right,#43cea2, #185a9d);*/
  background-image: -webkit-linear-gradient(top, rgba(67,206,162,.7), rgba(24,90,157,.7)), url("https://fownders.s3.us-east-2.amazonaws.com/pmp-banner.jpg");
  background-image: linear-gradient(to bottom,rgba(67,206,162,.7), rgba(24,90,157,.7)), url("https://fownders.s3.us-east-2.amazonaws.com/pmp-banner.jpg");
  -webkit-animation: fadeOutIn 15s ease;
  -moz-animation: fadeOutIn 15s ease;
  animation: fadeOutIn 15s ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*opacity: .7;*/
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.svg-wrapper {
  display: block;
  position: absolute;
  top: 15%;
  left: 0;
  margin-bottom: 20px;
  /*margin-top: -36px;*/
  /*margin-left: -136px;*/
}

#carpenter-white {
  fill: #fff;
  opacity: 0;
  -webkit-animation: fadeIn 2s ease;
  -moz-animation: fadeIn 2s ease;
  animation: fadeIn 2s ease;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#carpenter-logo {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1.25px;
  -webkit-animation: fadeOut 1s ease;
  -moz-animation: fadeOut 1s ease;
  animation: fadeOut 1s ease;
  -webkit-animation-delay: 2.75s;
  -moz-animation-delay: 2.75s;
  animation-delay: 2.75s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
